<div>
    <h1>Eat-da-Burger</h1>
    <label>Enter a Burger name</label>
    <input class="burger_name" placeholder="Cheeseburger" maxlength="50" type="text">
    <button class="submit-btn">Submit</button>
</div>

<div style="background-color: lightsalmon;">
<h2>Burgers Bought</h2>
{{#each burgers}}
    {{#unless devoured}}
<div>
    <p>{{burger_name}}</p>
    <button class="delete-btn" data-id="{{this.id}}">Devour</button>
</div>
    {{/unless}}
{{/each}}
</div>

<div style="background-color:lightgreen;">
<h2>Devoured Burger</h2>
{{#each burgers}}
    {{#if devoured}}
<div>
    <p>{{burger_name}}</p>
</div>
    {{/if}}
{{/each}}
</div>